<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Suite" annotations="JDK" parallel="tests">
  <test thread-count="5" name="LoginTest">
    <classes>
      <class name="login.LoginTest"/>
    </classes>
  </test> <!-- LoginTest -->
  <test thread-count="6" name="TestClick">
    <classes>
      <class name="login.LoginClick"/>
    </classes>
  </test> <!-- TestClick -->
</suite> <!-- Suite -->
